@font-face {
    font-family: 'Excalifont';
    src: url(./Fonts/Excalifont-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
font-family: 'Excalifont', sans-serif;
background-color: #cdf7f6;
}

.app-container {
    display: flex;
    margin: 0;
}

.left-bar{
background-color: #9a94bc;
width: 15%;
height: 100vh;
border-radius: 15px;
}

.left-bar a{
margin-bottom: 5px;
}

.name{
display: flex;
justify-content: center;
padding: 10px;
}

.name a{
text-decoration: none;
color: inherit;
font-size: 25px;
margin-bottom: 30px;
margin-top: 20px;
}

.middle-part{
display: flex;
flex-direction: column;
}

.middle-part a{
text-decoration: none;
color: inherit;
text-align: center;
border: 2px solid #000000;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 12px;
margin-left: 30px;
margin-right: 30px;
margin-bottom: 20px;
font-size: 20px;
background-color: #8fb8de;
}

.new-list{
margin-top: 200px;
background-color: #9b5094;
}